"""
Name: Revelle Williams
Class: CIS 218
Date: November 28, 2024
"""

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Sign Up</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <a href="{% url 'login' %}">Already have an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}